<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>

	<appender name="CORE" class="org.apache.log4j.RollingFileAppender">
		<!-- The active file to log to -->
	<param name="File" value="/sm-core.log" />
	<param name="MaxFileSize" value="10000KB"/>
	<param name="Append" value="true" />
	<param name="Encoding" value="UTF-8" />
	<param name="Threshold" value="debug" />
	<layout class="org.apache.log4j.PatternLayout">
		<!-- The log message pattern -->
		<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss} [%5p] (%F:%L) [%M] - %m%n" />
	</layout>
</appender>
      

<appender name="WEB" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/sm-shop.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="Threshold" value="debug" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss} [%5p] (%F:%L) [%M] - %m%n" />
		</layout>
</appender>
       




<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
	<param name="Target" value="System.out"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p %c: %m%n"/>
		</layout>
</appender>

	<logger name="com.salesmanager.core" additivity="false">
		<level value="debug"/>
		<appender-ref ref="CORE" />
</logger>

<logger name="com.salesmanager.web" additivity="false">
		<level value="debug"/>
		<appender-ref ref="WEB" />
</logger>
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
		
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.http">
		<level value="debug" />
	</logger>

	<logger name="org.springframework.web">
		<level value="debug" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="info" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="WEB" />
		<appender-ref ref="CORE" />
	</root>
	
</log4j:configuration>
